extends ../layout

block content
    ul
    if supprimer
        .alert.alert-danger
            span=supprimer

    each category in categories
        p=`${category.titre} ${category.description}`
        a(href=`/categories/suppression/${category.id}`) Supprimer
        a(href=`/categories/modifier/${category.id}`) Modifier